body {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  background-color: hsl(185, 41%, 84%);
}

label {
  font-size: 16px;
}

input {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  background-color: hsl(189, 41%, 97%);
  border: 0;
}

#whole {
  grid-template-columns: repeat(2, 20em);
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.6em;
  margin-right: 10em;
  margin-left: 10em;
}

#whole-inner {
  display: grid;
  grid-template-columns: repeat(2, 20em);
  margin: 1em 1.5em 1em 1.5em;
}

#currency-input-div::before {
  content: "$";
  position: absolute;
  color: hsl(185, 41%, 84%);
}

#currency-input-div input {
  margin-left: -0.2em;
  text-align: right;
}

.container {
  display: grid;
}

.left {
  grid-column: 1;
}

#percentages {
  grid-row: 2;
}

.percent-buttons {
  grid-template-columns: repeat(3, 6em);
}

.percent-buttons button {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-family: "Space Mono", monospace;
  font-size: 24px;
  border-radius: 0.3em;
}

.five {
  grid-column: 1;
  grid-row: 1;
}

.ten {
  grid-column: 2;
  grid-row: 1;
}

.fifteen {
  grid-column: 3;
  grid-row: 1;
}

.twentyfive {
  grid-column: 1;
  grid-row: 2;
}

.fifty {
  grid-column: 2;
  grid-row: 2;
}

.custom {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
}

#num-folks input {
  text-align: right;
}

.right {
  grid-column: 2;
  background-color: hsl(183, 100%, 15%);
  border-radius: 0.3em;
}

.right-text {
  grid-template-rows: 3em 1em;
  margin-left: 2em;
  color: hsl(189, 41%, 97%);
}

.right-text > p.first {
  grid-row: 1;
  font-size: 20px;
}

.right-text > p.second {
  grid-row: 2;
  font-size: 16px;
}

#reset-tip {
  background-color: hsl(172, 67%, 45%);
  /* color: hsl(184, 14%, 56%); */
  margin-left: 4em;
  margin-right: 4em;
  border-radius: 0.3em;
  height: 3em;
  font-family: "Space Mono", monospace;
}
